services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Abc@1234
    volumes:
      - sql_data:/var/opt/mssql
    restart: unless-stopped

  backend:
    build:
      context: ./backend/ZakatVault
      dockerfile: ZakatVault.Api/Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=ZakatVaultDb;User Id=sa;Password=Abc@1234;TrustServerCertificate=True;MultipleActiveResultSets=True;Max Pool Size=200;
    ports:
      - "8080:80"
    depends_on:
      - sqlserver
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - BACKEND_URL=http://backend:80
      - API_KEY=AIzaSyA8r7JEC7YG3DfRcTKS3hqhOJkQuER5Hew
      - RESEND_API_KEY=re_PPh1RPYd_FvHm69NoPpP1RFxuQo8q9YSG
      - RESEND_SENDER=Invoice AI <noreply@wizeinvoice.com>
      - NOTIFICATION_EMAIL=mamado2000@gmail.com
      - API_ORIGIN=http://backend:80
    ports:
      - "5051:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  sql_data:
