services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${SA_PASSWORD}
    volumes:
      - sql_data:/var/opt/mssql
    restart: unless-stopped
    ports:
      - "1444:1433"

  backend:
    build:
      context: ./backend/ZakatVault
      dockerfile: FinanceAPI/Dockerfile
    image: zakatvault-backend:2.2.0
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT:-Development}
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__FinanceDbConnection=${FinanceDbConnection}
      # JWT Configuration
      - JwtSettings__SecretKey=${JWT_SECRET_KEY}
      - JwtSettings__Issuer=${JWT_ISSUER}
      - JwtSettings__Audience=${JWT_AUDIENCE}
      - JwtSettings__ExpirationInDays=${JWT_EXPIRATION_IN_DAYS:-14}
      - GeminiApiKey=${API_KEY}
      - Resend__ApiToken=${RESEND_API_KEY}
      - Resend__Sender=${RESEND_SENDER}
      - VapidPublicKey=${VAPID_PUBLIC_KEY}
      - VapidPrivateKey=${VAPID_PRIVATE_KEY}  
    volumes:
      - ./backend/ZakatVault/FinanceAPI/Logs:/app/Logs
    ports:
      - "8080:8080"
    depends_on:
      - sqlserver
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: zakatvault-frontend:2.2.0
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      # These variables are substituted into the static JS files at runtime by the entrypoint script
      - BACKEND_URL=${BACKEND_URL:-http://localhost:8080}
      # This variable is used by Nginx configuration for proxying
      - API_ORIGIN=http://backend:8080
    ports:
      - "5051:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  sql_data:
