services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${SA_PASSWORD}
    volumes:
      - sql_data:/var/opt/mssql
    restart: unless-stopped
    ports:
      - "1444:1433"

  backend:
    build:
      context: ./backend/ZakatVault
      dockerfile: FinanceAPI/Dockerfile
    image: zakatvault-backend:1.0.5
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT:-Development}
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__FinanceDbConnection=Server=sqlserver,1433;Database=ZakatVaultDb;User Id=sa;Password=${SA_PASSWORD};TrustServerCertificate=True;MultipleActiveResultSets=True;Max Pool Size=200;
      # JWT Configuration
      - JwtSettings__SecretKey=${JWT_SECRET_KEY}
      - JwtSettings__Issuer=${JWT_ISSUER}
      - JwtSettings__Audience=${JWT_AUDIENCE}
      - JwtSettings__ExpirationInDays=${JWT_EXPIRATION_IN_DAYS:-14}
    ports:
      - "8080:8080"
    depends_on:
      - sqlserver
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: zakatvault-frontend:1.0.5
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      # These variables are substituted into the static JS files at runtime by the entrypoint script
      - BACKEND_URL=${BACKEND_URL:-http://localhost:8080}
      - API_KEY=${API_KEY}
      - RESEND_API_KEY=${RESEND_API_KEY}
      - RESEND_SENDER=${RESEND_SENDER}
      - NOTIFICATION_EMAIL=${NOTIFICATION_EMAIL}
      # This variable is used by Nginx configuration for proxying
      - API_ORIGIN=http://backend:8080
    ports:
      - "5051:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  sql_data:
